input.letter {
    border: 1px solid blueviolet;
    width: 2em;
    text-transform: uppercase;
}
input.spacer {
    border: none;
    width: 2em;
}input.hidden {
     border: 1px solid palevioletred;
    color:white;
 }
